.styledDiv {
    background-color: #FFF;
    border: 1px solid lightgray;
    width: 50vw;
    height: 50vh;
    overflow-y: scroll;
    border-radius: 10px;
    padding: 10px 0;
}

.input {
    width: 50%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.listContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
}

.listItems {
    border-bottom: 1px solid lightgray;
    padding: 10px 10px;
    list-style: none;
}

.listItems:hover {
    background-color: lightgray;
}